<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
</head>

<body ng-app="appmodule"
      ng-controller="userCtrl as vm">

    <div class="container">
        <div ng-if="vm.isLoggedIn() == true"
             ng-include="'app/user/productListView.html'">
        </div>
        <div ng-if="vm.isLoggedIn() == false"
             ng-include="'app/user/userLoginView.html'">
        </div>
    </div>

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="app/app.js"></script>
    <script src="app/Common/common.services.js"></script>
    <script src="app/userCtrl.js"></script>
    <script src="app/service/loginservice.js"></script>
    <script src="app/Model/userProfile.js"></script>
    <script src="app/service/productService.js"></script>
    <script src="app/User/productListCtrl.js"></script>
    
    <!--<script src="app/Common/common.services.js"></script>
        <script src="app/Common/userAccount.js"></script>
        <script src="app/Common/currentUser.js"></script>
        <script src="app/userCtrl.js"></script>
        <script src="app/User/productResource.js"></script>-->

    </body>
    </html>
